@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
* {
  box-sizing: border-box;
}

body {
  background-color: #e0e6de;
  padding: 0;
  margin: 0;
}

#titleBanner {
  position: relative;
  width: 100%;
  height: 50vh;
  background-image: url(https://images.unsplash.com/photo-1631308491952-040f80133535?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8bWF0Y2hhJTIwbGF0dGV8ZW58MHx8MHx8&auto=format&fit=crop&w=900&q=60);
  background-size: cover;
  background-position: center center;
  box-shaddow: 0px 3px 3px rgba(0, 0, 0, 0.7);
}

#titleBanner h1 {
  font-family:"Philosopher", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 500%;
  padding: 0;
  margin: 0 0 2vw 2vw;
  position: absolute;
  bottom: 0;
  left: 0;
  text-shaddow: 0px 8px 8px #000000;
  line-height: 80%;
}

h4 {
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
}

#firstHighlight {
  background-color: yellow;
}

.copyright {
  font-family: Arial;
  font-size: 9px;
  font-style: italic;
}

@media screen and (orientation: portrait) {
  #recipeColumns {
    padding: 1vh 2vh 2vh 2vh;
    display: bloack;
  }
  #recipeColumns div {
    position: relative;
    margin: 2.5vh 0 5vh 0;
    font-size: 120%;
  }
  @media screen and (max-width: 575px) {
    #titleBanner {
      height: 98 vh;
    }